body{
  /*how to create a gradient background:
  https://www.w3schools.com/css/css3_gradients.asp*/
  background-image: linear-gradient(to right, #abd26a, #9df6c7);
}

#titleText{
  /*font from Google Fonts: https://fonts.google.com/specimen/Open+Sans?preview.text_type=custom*/
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  color:#008080; 
  text-align: center; 
}

.mainImages{
  width: 20em; 
  /*center image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#motivateButton{
  /*center button. display as a block element*/
  display: block;
  margin: 0 auto;

  /*add spacing within the content of the button*/
  padding: 10px; 

  /*add spacing around the button*/
  margin-top: 40px; 
  margin-bottom: 40px;

  /*add color*/
  background-color: #34ebc0; 

  /*button size*/
  font-size: 24px;

  /*rounded buttons*/
  border-radius: 4px;
}
